*/CLI2
*/CLI3
*/CORE
*/CACHE
*/OPT
*/TEST
*/UNIT_TESTS
*/*.xml
*/release.tar
*/release.tar.gz
*/release.zip
/DIRTY_*.tar.gz
/DIRTY_*.zip
/*_*.tar.gz
/*_*.zip
*/COPYING.GPL3
*/LICENSE
*/cache.sqlite
*/*.exe
*/*.o
*/iteratedecks-cli*
*/VERSION.h
*/VERSION.h.auto
*/unitTests
*/libIterateDecks.a
*/libIterateDecks.so.1.0.1
